.navbar {
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: space-between;
}

.navbar-menu {
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}

.nav-connect {
  display: none; /* Hide on mobile */
}
