.footer {
  scroll-margin-top: 140px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.footer-top-left p {
  margin-top: 20px;
  font-size: 18px;
  max-width: 500px;
}

.footer-email-input {
  display: flex;
  gap: 20px;
  padding: 20px 30px;
  border-radius: 50px;
  background: #32323B;
}

.footer-email-input input {
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-size: 16px;
  flex: 1;
}

.footer-subscribe {
  font-size: 20px;
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #ff6a00 0.36%, #ee0979 102.02%);
  cursor: pointer;
  transition: 0.3s;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;
  gap: 20px;
}

.footer-subscribe:hover {
  transform: scale(1.1);
}
