*{
  margin: 0;
  padding: 0
}
body {
  font-family: 'Segoe UI', sans-serif;
  padding-top: 100px;
  height: 100vh;;
  background-color: #000; /* or your preferred background */
  color: #fff; /* default text color */
}

@media (max-width: 1024px) {
  .about-section {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .hero h1,
  .hero p,
  .about-title h1,
  .about-achievement h1 {
    font-size: 1.5rem;
  }

  .mywork-container {
    grid-template-columns: 1fr;
  }

  .navbar-menu {
    width: 100%;
  }
}
